# Python virtual environment
venv/
env/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/

# Home Assistant
.storage
.cloud
.HA_VERSION

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store 